body {
    background: url("../img/fon.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}
.header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 18px 0;
}
.header__wrapper,
.header__wrapper__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper__logo {
    color: #FFF;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 22px;
}
.header__wrapper__logo:hover {
    color: #3CB878;
}
.header__wrapper__info__icon__link {
    margin-right: 27px;
}
.header__wrapper__info_authorization span,
.header__wrapper__info_authorization__link {
    color: #FFF;
    font-size: 14px;
    line-height: 14px;
}
.header__wrapper__info__icon:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin-right: 27px;
}
.header__wrapper__info_authorization__link:hover {
    color: #3CB878;
}
.header__wrapper__info__icon__link:hover svg path {
    fill: #3CB878;
}
.registration {
    height: calc(100vh - 59px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration__wrapper {
    background: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    max-width: 444px;
    padding: 31px 61px 38px;
    box-sizing: border-box;
}
.registration__wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}
.registration__wrapper__header:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -61px;
    top: 3px;
}
.registration__wrapper__header__title {
    color: #434343;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
.registration__wrapper__header__link {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.registration__wrapper__header__link:hover {
    color: #01813F;
    font-size: 14px;
    line-height: 14px;
    text-decoration: #01813F underline;
}
.registration__wrapper__login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.registration__wrapper__login__social {
    display: flex;
    align-items: center;
    background: #305DB8;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 22px 12px 11px;
    box-sizing: border-box;
    min-height: 48px;
    position: relative;
    border-radius: 3px;
    margin-right: 8px;
}
.registration__wrapper__login__social:hover {
    background: #022263;
}
.registration__wrapper__login__social svg {
    margin-right: 32px;
}
.registration__wrapper__login__social:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #0A162F;
    position: absolute;
    left: 48px;
    top: 10px;
}
.registration__wrapper__login__social-google {
    background: #DF4A32;
    margin-right: 0;
}
.registration__wrapper__login__social-google:hover {
    background: #AB1F09;
}
.registration__wrapper__login__social-google:before {
    background: #2B0D09;
}
.registration__wrapper__other {
    margin-bottom: 12px;
    text-align: center;
    position: relative;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
}
.registration__wrapper__other:before {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: calc(61% - 1px);
    left: 0;
}
.registration__wrapper__other:after {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: calc(61% - 1px);
    right: 0;
}
.registration__wrapper__form {
    display: flex;
    flex-direction: column;
}
.registration__wrapper__form__hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}
.registration__wrapper__form__input {
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding: 15px 0 15px 20px;
    margin-bottom: 15px;
}
.registration__wrapper__form__input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}
.registration__wrapper__form__input:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.registration__wrapper__form__check {
    display: flex;
    align-items: center;
}
.registration__wrapper__form__checkbox {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}
.stylechek {
    display: inline-block;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 8px;
}
input:checked + .stylechek:before {
    opacity: 1;
}
.registration__wrapper__form__check:hover > a {
    color: #01813F;
    text-decoration: underline #01813F;
}
.registration__wrapper__form__check {
    margin-bottom: 20px;
    color: #434343;
}
.registration__wrapper__form__check a {
    color: #3CB878;
}

.registration__wrapper__form__submit {
    padding: 16px 0;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: none;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
}

.registration__wrapper__form__submit:hover {
    border-radius: 4px;
    background: #01813F;
}